<div class="card-container">
    <mat-card class="block-card">
        <mat-card-header>
            <div mat-card-avatar class="block-header-image"></div>
            <mat-card-title>Square</mat-card-title>
            <mat-card-subtitle>Block</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/SquareText.png">
        <mat-card-content>
            <p class="card-text">
                Click the link below to calculate area and circumference of a square,
                with your input.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Go to Square</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="block-card">
        <mat-card-header>
            <div mat-card-avatar class="block-header-image"></div>
            <mat-card-title>Rectangle</mat-card-title>
            <mat-card-subtitle>Block</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/RectangleText.png">
        <mat-card-content>
            <p class="card-text">
                Click the link below to calculate area and circumference of a Rectangle,
                with your input.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"><a mat-raised-button color="primary" href="/rectangle">Go To Rectangle</a></button>
        </mat-card-actions>
    </mat-card>
</div>